{% include base_path %}

{% if post.image %}
  <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
{% elsif post.preview %}
  <img src="{{ post.preview | relative_url }}" alt="{{ post.title }}">
{% endif %}

<!-- add default prefix -->
{% if preview contains "://" %}
  {% assign preview = preview %}
{% else %}
  {% assign preview = preview | prepend: "/images/" | prepend: base_path %}
{% endif %}

<!-- {% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %} -->

{% assign title = post.title | remove: "<br>" | markdownify %}

{% if post.venue contains "@" %}
  {% assign venue_key = post.venue | split: "@" | last %}
  {% assign venue = site.data.venues[venue_key].name %}
{% else %}
  {% assign venue = post.venue %}
{% endif %}

{% assign authors = post.authors | replace: "Jian-li Wang", "<b>Jian-li Wang</b>" %}
{% assign bib_id = post.slug | default: post.title | slugify %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item mb-2" itemscope itemtype="http://schema.org/CreativeWork">

    <div class="row col-12">

      <div class=".archive__item-teaser col-6 col-md-2 float-md-left">
        <img src="{{ preview }}" alt="">
      </div>

      <div class="col-12 col-md-10 text-md-left">

        <h6 class="archive__item-title text-decoration-none" itemprop="headline">
          {{ title }}
        </h6>

        <p class="archive__item-content fs-6">
          {{ authors }}
          <br/>
          <i>{{ venue }}</i>, 
          {% if post.award %}
            <b style="color:coral">{{ post.award }}</b>,
          {% endif %}
          {{ post.date | default: "1900-01-01" | date: "%Y" }} 
        </p>

        {% if post.project_url %}
  <a href="{{ post.project_url }}" target="_blank">
    <i class="fa fa-file-text-o" aria-hidden="true"></i> Project Page
  </a>
{% endif %}

        {% if post.official_url %}
          <a href="{{ post.official_url }}" target="_blank">
            <i class="fa fa-external-link" aria-hidden="true"></i> Publisher's Version
          </a>
        {% endif %}
        
        {% if post.bibtex %}
          <a href="javascript:void(0);" onclick="var x=document.getElementById('bibtex-{{ post.slug }}'); x.style.display=(x.style.display==='none')?'block':'none';">
            <i class="fa fa-quote-left" aria-hidden="true"></i> BibTeX
          </a>
        
          <div id="bibtex-{{ post.slug }}" style="display:none; margin-top:10px;">
        <pre style="background:#f5f5f5; padding:12px; font-size:13px; white-space:pre-wrap;">{{ post.bibtex }}</pre>
          </div>
        {% endif %}
        
        {% if post.arxiv_url %}
          <a class="mr-2 text-decoration-none" href="{{ post.arxiv_url }}">
            <i class="fas fa-external-link-alt" aria-hidden="true"></i> ArXiv Version &nbsp;
          </a>
        {% endif %}

        {% if post.official_url %}
          <a class="mr-2 text-decoration-none" href="{{ post.official_url }}">
            <i class="fas fa-external-link-alt" aria-hidden="true"></i> Publisher's Version &nbsp;
          </a>
        {% endif %}

        {% if post.code %}
          <a class="mr-2 text-decoration-none" href="{{ post.code }}">
            <i class="fa-brands fa-github" aria-hidden="true"></i> Code &nbsp;
          </a>
        {% endif %}

        {% if post.blog %}
          <a class="mr-2 text-decoration-none" href="{{ post.blog }}">
            <i class="fas fa-external-link-alt" aria-hidden="true"></i> Blog &nbsp;
          </a>
        {% endif %}

        {% if post.bibtex %}
      <a class="mr-2 text-decoration-none bibtex-toggle" href="javascript:void(0);" data-bibtex="{{ bib_id }}">
        <i class="fas fa-quote-left" aria-hidden="true"></i> BibTeX &nbsp;
      </a>
      {% endif %}

      {% if post.bibtex %}
      <div id="bibtex-{{ bib_id }}" class="bibtex-content mt-2" style="display:none;">
        <pre style="white-space: pre-wrap; word-break: break-word;">{{ post.bibtex }}</pre>
      </div>
      {% endif %}

        <!-- {% if post.bibtex %}
          <a class="mr-2 text-decoration-none" href="javascript:void(0);" data-clipboard-text="{{ post.bibtex }}"
            data-toggle="popover"
            data-content="Copied!" 
            data-delay="{&quot;show&quot;:0,&quot;hide&quot;:1000}" 
            data-trigger="focus" data-original-title title
          >
            <i class="fas fa-quote-left" aria-hidden="true"></i> Copy Bibtex &nbsp;
          </a>
        {% endif %} -->

      </div>  

    </div>

  </article>
</div>
